*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(7, 7, 7);
    overflow: hidden;
}


#toggle{
  cursor: pointer;
}
.side-nav {
  position: fixed;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #f19604;
  z-index: 999999;
}
.container {
  left:30px;
}
.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  z-index: 5555;
}
.side-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.side-menu ul li {
  opacity: 1;
  padding-top: 0px;
  position: relative;
  top: 100%;
}
.side-menu ul li a {
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.side-menu ul li a:hover {
  color: #ccc!important;
}

  .box{
    background-color: #ccc;
    padding: 7px;
    border: solid 3px #333;
    border-radius: 5px;
  }
  .color-item{
    width: 30px;
    height: 30px;
    background-color:orange ;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
  }

  #sidebar i{
    background-color: #333;
    cursor: pointer;
    color: aliceblue;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
  }


  
#loading{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 998998;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: aliceblue;
}


  .spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: aliceblue;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  .itemFood-layer{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.788);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    overflow: hidden;
    opacity: 0;
    border-radius: 5px;
    
  }
.itemFood{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.itemFood:hover .itemFood-layer{
top: 0px;
opacity: 1;
}
#recipes li{
padding-top: 12px !important;
}
.recipt{
    height: 45px;
}
.cursorrr{
    cursor: context-menu;
}

.countries{
 
cursor: pointer;
}

.countryItem{
  background-color: #333 !important;
  box-shadow: 0px 0px 10px #f19604 !important;
  cursor: pointer;
  height: 150px;
}


#contact input[type=text]  {
  background-color:white;
  border: none;
  border-bottom: 1px solid #fff;
  color: black;
  border-radius:0;
}
#contact input[type=text]::placeholder {
  text-align:center;
}
#contact input[type=password]::placeholder {
  text-align:center;
}
#contact-form input[type=submit]{
  transition: all 0.3s ease-in;
}
#contact-form input[type=submit]:hover{
  background-color: #fff;
  color: #000!important;
}
#Search,#discreption,#Categories,#Area,#Ingredients,#contact{
  display: none;

  
}

.container{
padding: 20px 40px !important;
  position: relative !important;

left: 70px;
top: 50px;
}

